@page
@model IndexModel

    <link rel="stylesheet" href="~/css/IndexSite.css" />

    <div class="text-center" style="padding-top:200px">
        <h1 class="display-4"><i class="fas fa-mountain"></i>Welcome in Climbing4Everyone!</h1>
    </div>

    <div class="text-center" style="padding-top: 50px">
        <h3>
            This website was made by climber for climbers! You can share your favourite climbing routes with others and make your own list!
        </h3>
    </div>